{
    "presets": [
        "react",
        "stage-3"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-flow-strip-types"
    ],
    "env": {
        "cjs": {
            "presets": [
                [
                    "env"
                ]
            ],
            "plugins": [
                "transform-class-properties",
            ]
        },
        "es": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "transform-class-properties",
            ]
        },
        "watch": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "chrome": 59
                        },
                        "modules": false
                    }
                ]
            ]
        },
        "server": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": 8
                        },
                        "loose": true
                    }
                ]
            ]
        }
    }
}
